{% extends "base.html" %}

{% block title %}
    Проекты
{% endblock %}

{% block content %}

Информация о проектах
<table class="table">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Адрес</th>
      <th scope="col">Дата начала</th>
      <th scope="col">Дата завершения</th>
    </tr>
  </thead>
  <tbody>
  {% for project in projects %}
    <tr>
      <td>{{project.name}}</td>
      <td>{{project.address}}</td>
      <td>{{project.start_date}}</td>
      {% if project.end_date%}
        <td>{{project.end_date}}</td>
      {% else %}
        <td></td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
